{% extends 'core/base.html' %}
{% load static %}

{% block content %}
    <style>
        .select2-container .select2-selection--single {
            height: calc(1.5em + 0.75rem + 2px) !important;
        }
    </style>
    <h3>{{ title }}</h3>
    <br><br>
    <form method="post">
        {% csrf_token %}
        <div class="form-error">{{ form.non_field_errors }}</div>
        {% for f in form %}
            <div class="form-group row">
                <label class="col-md-3 col-form-label form-control-label text-muted" for="{{ f.id_for_label }}">{{ f.label }}</label>
                <div class="col-lg-5">{{ f }}</div>
                <div class="form-error">{{ f.errors }}</div>
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-success">Добавить</button>
    </form>
{% endblock %}

{% block footer %}
    <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
    {{ form.media }}
{% endblock %}