{% extends 'sklad/base.html' %}

{% block left_menu %}
    {% include 'sklad/left_menu.html' %}
{% endblock %}

{% block content %}
<h3>{{ title }}</h3><br><br>
    {% if buyers %}
        <table class="table">
        <thead>
        <tr class="table-secondary">
            <th scope="col">#</th>
            <th scope="col">Фамилия Имя Отчество</th>
            <th scope="col">Email</th>
        </tr>
        </thead>
        {% for n in buyers %}
            <tbody>
                <tr>
                    <td></td>
                    <td><a href="{{ n.get_absolute_url }}">{{ n.fio }}</a></td>
                    <td>{{ n.email }}</td>
                </tr>
            </tbody>
	    {% endfor %}
        </table>
    {% elif vendors %}
        <table class="table">
            <thead>
            <tr class="table-secondary">
                <th scope="col">#</th>
                <th scope="col">Наименование</th>
                <th scope="col">Email</th>
            </tr>
            </thead>
            {% for n in vendors %}
                <tbody>
                <tr>
                    <td></td>
                    <td><a href="{{ n.get_absolute_url }}">{{ n.name }}</a></td>
                    <td>{{ n.email }}</td>
                </tr>
                </tbody>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}
