{% extends 'sklad/base.html' %}

{% block left_menu %}
    	<ul id="leftchapters">
        <li><a href="{% url 'delivery_add' %}">Создать заявку</a></li>
		<li class="share">
		</li>
	</ul>
{% endblock %}

{% block content %}
<ul class="list-articles">
	{% for n in deliveryes %}
			<li><div class="article-panel">
	<p class="first">Категория: {{ n.subcategory.category }}/{{ n.subcategory }}</p>
	<p class="last">Дата: {{n.time_update|date:"d-m-Y H:i:s"}}</p>
</div>
                <p><a href="{{ n.get_absolute_url }}">{{ n.name }}</a>
                    ({{ n.article }})
                </p>
			<div class="clear"></div>
			</li>
	{% endfor %}
</ul>
{% endblock %}
