{% extends 'sklad/base.html' %}

{% block content %}
    <h1 xmlns="http://www.w3.org/1999/html">{{ title }}</h1>
    <form id="form-container" method="post">
        {% csrf_token %}
        <div class="form-error">{{ delivery_form.non_field_errors }}</div>
        {% for f in delivery_form %}
        <p><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}:</label>{{ f }}</p>
            <div class="form-error">{{ f.errors }}</div>
        {% endfor %}
        {{ document_nomenclature_form_set.management_form }}
        {% for form in document_nomenclature_form_set %}
            <div class="bird-form">
                <p>
                {% for f in form %}
                    <label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}:</label>{{ f }}
                {% endfor %}
                </p>
            </div>
        {% endfor %}
        <button id="add-form" type="button">Добавить номенклатуру</button>
        <button type="submit">Создать заявку</button>
    </form>

        <script>
        let birdForm = document.querySelectorAll(".bird-form")
        let container = document.querySelector("#form-container")
        let addButton = document.querySelector("#add-form")
        let totalForms = document.querySelector("#id_form-TOTAL_FORMS")

        let formNum = birdForm.length-1
        addButton.addEventListener('click', addForm)

        function addForm(e){
            e.preventDefault()

            let newForm = birdForm[0].cloneNode(true)
            let formRegex = RegExp(`form-(\\d){1}-`,'g')

            formNum++
            newForm.innerHTML = newForm.innerHTML.replace(formRegex, `form-${formNum}-`)
            container.insertBefore(newForm, addButton)

            totalForms.setAttribute('value', `${formNum+1}`)
        }
    </script>

{% endblock %}