{% extends 'sklad/base.html' %}

{% block left_menu %}
    {% include 'sklad/left_menu.html' %}
{% endblock %}

{% block content %}
    {% if buyer %}
        <h1>Сведения о покупателе</h1>
        <p>ФИО: {{buyer.fio}}</p>
        <p>Email: {{buyer.email}}</p>
        <p>Телефон: {{buyer.phone}}</p>
     {% elif vendor %}
        <h1>Сведения о поставщике</h1>
        <p>Наименование: {{ vendor.name }}</p>
        <p>Адрес: {{ vendor.address }}</p>
        <p>Реквизиты:
        (Банк: {{ vendor.bank_details.bank_name }},
        Счет: {{ vendor.bank_details.account }})</p>
        <p>ФИО: {{vendor.fio}}</p>
        <p>Email: {{vendor.email}}</p>
        <p>Телефон: {{vendor.phone}}</p>
        <b>Категории товаров:</b>
        {% for cat in vendor.category.all %}
            {% if forloop.last %}
                {{ cat }}
            {% else %}
                {{ cat }},
            {% endif %}
        {% endfor %}
    {% endif %}
    <ul class="list-articles"><li> </li></ul>
    <br>
    <h3>Последние заявки:</h3>
    <ul class="list-articles">
    {% for d in documents  %}
        <li>
        <div class="article-panel">
            <p class="first"><a href="{{ d.get_absolute_url }}">Заявка № {{ d.pk }}</a>  Статус: {{ d.get_status_display }}</p>
	        <p class="last">{{d.time_create|date:"d-m-Y H:i:s"}}</p>
        </div>
        </li>
    {% empty %}
        Заявок нет
    {% endfor %}
    </ul>
{% endblock %}
