{% extends 'sklad/base.html' %}

{% block left_menu %}
    {% include 'sklad/left_menu.html' %}
{% endblock %}

{% block content %}
    {% if buyer %}
        <h3>Сведения о покупателе</h3><br><br>
        <div class="form-group row">
            <div class="col-md-3 col-form-label form-control-label text-muted">Фамилия Имя Отчество</div>
            <div class="col-md-3 col-form-label form-control-label" >{{ buyer.fio }}</div>
        </div>
        <div class="form-group row">
            <div class="col-md-3 col-form-label form-control-label text-muted">Email</div>
            <div class="col-md-3 col-form-label form-control-label" >{{ buyer.email }}</div>
        </div>
        <div class="form-group row">
            <div class="col-md-3 col-form-label form-control-label text-muted">Телефон</div>
            <div class="col-md-3 col-form-label form-control-label" >{{ buyer.phone }}</div>
        </div>
     {% elif vendor %}
        <h3>Сведения о поставщике</h3><br><br>

        <div class="form-group row">
            <div class="col-md-3 col-form-label form-control-label text-muted">Поставщик</div>
            <div class="col-md-3 col-form-label form-control-label" >{{ vendor.name }}</div>
        </div>
         <div class="form-group row">
            <div class="col-md-3 col-form-label form-control-label text-muted">Адрес</div>
            <div class="col-md-3 col-form-label form-control-label" >{{ vendor.address }}</div>
        </div>
         <div class="form-group row">
            <div class="col-md-3 col-form-label form-control-label text-muted">Фамилия Имя Отчество</div>
            <div class="col-md-3 col-form-label form-control-label" >{{ vendor.fio }}</div>
        </div>
         <div class="form-group row">
            <div class="col-md-3 col-form-label form-control-label text-muted">Email</div>
            <div class="col-md-3 col-form-label form-control-label" >{{ vendor.email }}</div>
        </div>
         <div class="form-group row">
            <div class="col-md-3 col-form-label form-control-label text-muted">Телефон</div>
            <div class="col-md-3 col-form-label form-control-label" >{{ vendor.phone }}</div>
        </div>

        <div class="form-group row">
            <div class="col-md-3 col-form-label form-control-label text-muted">Категории товаров:</div>
            <div class="col-md-3 col-form-label form-control-label" >
                {% for cat in vendor.categories.all %}
                    {% if forloop.last %}
                        {{ cat }}
                    {% else %}
                        {{ cat }},
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <p>Банковские реквизиты:</p>
        <div class="form-group row">
            <div class="col-md-3 col-form-label form-control-label text-muted">Наименования банка</div>
            <div class="col-md-3 col-form-label form-control-label" >{{ vendor.bank_details.bank_name }}</div>
        </div>
        <div class="form-group row">
            <div class="col-md-3 col-form-label form-control-label text-muted">Номер счета</div>
            <div class="col-md-3 col-form-label form-control-label" >{{ vendor.bank_details.account }}</div>
        </div>
    {% endif %}
    <hr>
    <br><br>
    <h3>Последние заявки</h3>
    <br><br>
    {% if documents  %}
        {% include 'sklad/document_list.html' %}
    {% else %}
        Заявок нет
    {% endif %}
{% endblock %}
