<h1>Заявка на отгрузку</h1>
<p>Номер заявки: {{document.pk}}</p>
<p>Дата: {{document.time_create}}</p>
<p>Покупатель: {{document.buyer}}</p>
<p>Список товара: {{document.nomenclatures}}</p>
<p>Цена: {{document.price}}</p>
<p>Статус: {{document.get_status_display}}</p>
{% if document.status in 'co,fi' %}
    <p>
        <img src="data:image/png;base64,{{ qrcode }}" width="100" height="100"/></p>
{% endif %}

{% if document.status == 'va' %}
<p><a href={% url 'document_change_status' document.pk 'ca' %}>Отказать в выполнении заказа</a></p>
<p><a href={% url 'document_change_status' document.pk 'co' %}>Заказ собран</a></p>

{% endif %}
