{% extends 'sklad/base.html' %}

{% block left_menu %}
    <ul id="left-chapters">
        <li><a href="{% url 'nomenklature_add' %}">Добавить номенклатуру</a></li>
        {% regroup subcats by category as categories %}
        {% for category in categories %}
            <li><a href="{{ category.grouper.get_absolute_url }}">{{ category.grouper }}</a></li>
            <ul>
                {% for subcategory in category.list %}
                    <li><a href="{{ subcategory.get_absolute_url }}">{{ subcategory }}</a></li>
                {% endfor %}
            </ul>
        {% endfor %}
    </ul>
{% endblock %}

{% block content %}
    {% include 'sklad/seach.html' %}<br><br>
    <h3>{{ title }}</h3>
    <br><br>

    <table class="table">
    <thead>
        <tr class="table-secondary">
            <th scope="col">Категория</th>
            <th scope="col">Подкатегория</th>
            <th scope="col">Наименование</th>
            <th scope="col">Артикул</th>
            <th scope="col">Остаток</th>
        </tr>
    </thead>
        {% regroup nomenclatures by subcategory.category as categories %}
        {% for category in categories %}
            <tbody>
            {% regroup category.list by subcategory as subcategories %}
            {% for subcategory in subcategories %}
                {% for nomenclature in subcategory.list %}
                    {% if nomenclature.store_amount > 5 %}
                        <tr>
                    {% elif nomenclature.store_amount %}
                        <tr class="table-warning">
                    {% else %}
                        <tr class="table-danger">
                    {% endif %}
                        <td><a href="{{ category.grouper.get_absolute_url }}">{{ category.grouper }}</a></td>
                        <td><a href="{{ subcategory.grouper.get_absolute_url }}">{{ subcategory.grouper }}</a></td>
                        <td><a href="{{ nomenclature.get_absolute_url }}">{{ nomenclature.name }}</a></td>
                        <td>{{ nomenclature.article }}</td>
                        <td>{{ nomenclature.store_amount }}</td>
                    </tr>
                    </tbody>
                {% endfor %}
            {% endfor %}
        {% endfor %}

    </table>
{% endblock %}
