{% extends 'sklad/base.html' %}

{% block left_menu %}
    <ul id="leftchapters">
        <li><a href="{% url 'shipment_add' %}">Создать заявку</a></li>
		<li class="share"></li>
	</ul>
{% endblock %}

{% block content %}
<ul class="list-articles">
{% for n in shipments %}
<li>
    <div class="article-panel">
        <p class="first"><a href="{{ n.get_absolute_url }}">Заявка № {{ n.number }}</a> ({{ n.buyer }})</p>
	    <p class="last">{{n.date|date:"d-m-Y H:i:s"}}</p>
    </div>
    <div class="clear"></div>
</li>
{% endfor %}
</ul>
{% endblock %}
