{% load document_tags %}

<table border="0" width="100%">
    <tr>
        <td align="right">
            {% if st %}
                <label class="col-md-2 col-form-label form-control-label">Статус</label>
            {% endif %}
            {% if request.GET.status %}
                {% for k, v in st.items %}
                    {% if k in request.GET.status %}
                        <button type="submit" class="btn btn-primary btn-sm" onclick="location.href='{{ request.path }}?{% status_sub request st.keys k %}'">{{ v }}</button>
                    {% else %}
                        <button type="submit" class="btn btn-outline-primary btn-sm" onclick="location.href='{{ request.path }}?{% status_add request st.keys k %}'">{{ v }}</button>
                    {% endif %}
                {% endfor %}
            {% else %}
                {% for k, v in st.items %}
                    <button type="submit" class="btn btn-primary btn-sm" onclick="location.href='{{ request.path }}?{% status_sub request st.keys k %}'">{{ v }}</button>
                {% endfor %}
            {% endif %}
        </td>
    </tr>
</table><br>
