{% load document_tags %}

{% block filter %}
    {% include 'document/filter.html' %}
{% endblock %}

<table class="table">
    <thead>
    <tr class="table-secondary">
        <th scope="col">#</th>
        <th scope="col">Тип</th>
        <th scope="col">Номер</th>
        <th scope="col">Контрагент</th>
        <th scope="col">Статус</th>
        <th scope="col">Дата</th>
    </tr>
    </thead>
    {% for d in documents  %}
        <tbody>
            {% if d.status == 'fi' %}
                <tr class="table-success">
            {% elif d.status == 'ca' %}
                <tr class="table-danger">
            {% elif d.status == 'co' %}
                <tr class="table-warning">
            {% elif d.status == 'va' %}
                <tr>
            {% else %}
                <tr>
            {% endif %}
                <th scope="row"></th>
                {% if d.buyer %}
                    <td>Отгрузка</td>
                    <td><a href="{{ d.get_absolute_url }}">{{ d.number }}</a></td>
                    <td>{{ d.buyer }}</td>
                {% elif d.vendor %}
                    <td>Поставка</td>
                    <td><a href="{{ d.get_absolute_url }}">{{ d.number }}</a></td>
                    <td>{{ d.vendor }}</td>
                {% endif %}
                <td><a href="{{ request.path }}?{% query_transform request status=d.status %}">
                    {{ d.get_status_display }}</a></td>
                <td>{{ d.time_create|date:"d-m-Y H:i:s" }}</td>
            </tr>
        </tbody>
    {% endfor %}
</table>